.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.form_div{
  max-width: 300px;
  background: #d3d3d3;
  text-align: center;
  border: 2px solid #ffc400;
  border-radius: 5px;
}

.button_wrapper{
  margin:10px;
}

.input_field{
  width: 200px;
  height: 30px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  padding-left: 10px;
}
.button{
 
  height: 30px;
  width: 215px;
}

.button_link{
  border: none;
  margin-top: 20px;
  background: transparent;
  cursor: pointer;
  color:blue;

}